<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button fill="solid" (click)="onNeuesSpielButton()">Neues Spiel</ion-button>
    </ion-buttons>
    <ion-title>Peg Solitaire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid>
    <ion-row *ngFor="let zeile of spielfeldArray, index as indexZeile">
      <ion-col *ngFor="let element of zeile, index as indexSpalte">
        <div [ngSwitch]="element">

          <span *ngSwitchCase="SfsEnum.KEIN_FELD"></span>

          <ion-button *ngSwitchCase="SfsEnum.BESETZT"
                      color="danger"
                      [disabled]="disabledArray[indexZeile][indexSpalte]"
                      (click)="onSpielsteinKlick(indexZeile,indexSpalte)"></ion-button>

          <ion-button *ngSwitchCase="SfsEnum.LEER"
                      color="dark"
                      (click)="onLeerFeldKlick(indexZeile,indexSpalte)"></ion-button>

          <span *ngSwitchDefault>???</span>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-text>Spielsteine: {{anzahlSpielsteine}}</ion-text>

</ion-content>
