<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Peg Solitaire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid>
    <ion-row *ngFor="let zeile of spielfeldArray">
      <ion-col *ngFor="let element of zeile">
        <span *ngIf="element===SfsEnum.KEIN_FELD"></span>
        <span *ngIf="element===SfsEnum.BESETZT"  >{{ element }}</span>
        <span *ngIf="element===SfsEnum.LEER"     >.</span>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
