<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Peg Solitaire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid>
    <ion-row *ngFor="let zeile of spielfeldArray">
      <ion-col *ngFor="let element of zeile">
        <div [ngSwitch]="element">

          <span *ngSwitchCase="SfsEnum.KEIN_FELD"></span>

          <ion-icon *ngSwitchCase="SfsEnum.BESETZT"
                    size="large"
                    name="square"
                    style="color: red">
          </ion-icon>

          <ion-icon *ngSwitchCase="SfsEnum.LEER"
                    size="large"
                    name="square-outline">
          </ion-icon>

          <span *ngSwitchDefault>???</span>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
